body,
html {
  height: 100%;
}
body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 50px;
  grid-template-columns: 12% auto;
  grid-template-areas:
    "sidebar right"
    "footer footer";
}
ul {
  list-style-type: none;
  float: right;
}
a {
  text-decoration: none;
}
ul li a {
  color: white;
  padding: 10px;
}
ul li {
  display: inline;
}

#logo {
  padding: 15px;
  margin-left: 15px;
  background-color: beige;
  color: violet;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  /* grid-column-start: logo-start;
    grid-column-end: span nav-end; */
}
header {
  background-color: thistle;
  display: grid;
  /* grid-template-columns: 20% 80%; */
  /* grid-template-columns: 20% auto;  */
  /* grid-template-columns: repeat(2, auto); */
  grid-template-columns: ;
  grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

section#wiki {
  background-color: thistle;
  padding: 2em;
  border-top: 5px solid wheat;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#content h1 {
  text-transform: uppercase;
  color: #fffbc5;
}

#content p {
  color: white;
}

img {
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
}

#imgWiki {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.sidebar {
  grid-area: sidebar;
  background: lightslategrey;
  color: #fffbc5;
  padding: 1em;
}
.main {
  grid-area: right;
  grid-template-rows: 51px fi t-content(30%) 40%;
  /* grid-template-columns: 400px; */
  /* grid-template-columns: 200px 200px; */
  /* justify-content: space-between;  */
  /* justify-content: space-around; */

  display: grid;
}
footer {
  grid-area: footer;
  background: thistle;
}

#branches{
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
    align-items: end;
    /* grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-gap: 10px 30px; */
    /* justify-items: center; */
}
#branches i{
    font-size: 2em;
}
ul#branches{
    margin: 0;
    padding: 0;
}
ul#branches li{
    background-color: green;
    padding: 1em;
    width: 60%;
    align-self: start;
}
ul#branches li p{
    color: black;
}
/* Row alignment - particular item */
/* ul#branches li:nth-child(3){
    justify-self: end;
} */

ul#branches li:nth-child(1){
    background-color: #fffbc5;
}
ul#branches li:nth-child(2){
    background-color: burlywood;
    align-self: center;
}
ul#branches li:nth-child(3){
    background-color: wheat;
}
ul#branches li:nth-child(4){
    background-color: turquoise;
    align-self: center;
}
ul#branches li:nth-child(5){
    background-color: blanchedalmond;
}

section#doYou{
    background-color: #F2F2F2;
    padding: 2em;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: space-around;
}

#imgRox{
    width: 200px;
    height: 200px;
    align-self: center;
}


